@mixin anchor {
  @supports (anchor-name: --test) {
    position-anchor: var(--anchor-popover);
    &[data-position="block"] {
      inset-area: bottom span-right;
      min-width: anchor-size(width);
      position-try-options: flip-block;
    }
    &[data-position="inline"] {
      inset-area: right span-bottom;
      position-try-options: flip-inline;
    }
  }
        
  @supports not (anchor-name: --test) {
    &:not([data-anchored="true"]) {
      opacity: 0;
    }
  }
}



@layer popover {
  .he-popover {
    margin: 0;
    position: absolute;
    border: none;
    background-color: var(--overlay);
    backdrop-filter: var(--overlay-filter);
    box-shadow: var(--overlay-shadow);
    border-radius: 4px;
    box-sizing: border-box;
      
    &:popover-open {
      transition-timing-function: var(--ease-out);
    }
    @supports (transition-behavior: allow-discrete) {
      transition-property: display, overlay, opacity, transform;
      transition-duration: 0.2s;
      transition-behavior: allow-discrete;
      @starting-style {
        &:popover-open {
          opacity: 0;
          transform: scale(1) translateY(10px);
        }
      }
      &:not(:popover-open) {
        opacity: 0;
        transform: scale(0.95);
        transition-timing-function: var(--ease-in);
      }
    }
    @supports not (transition-behavior: allow-discrete) {
      &[data-anchored="true"] {
        animation: slideup 0.1s var(--ease-out);
      }
    }

    @include anchor;
  }
}


