@use "../../list/index" as list;
@layer hueeye {
  .he-listbox {
    list-style: none;
    margin-block: unset;
    padding: var(--size-0);
    &[aria-multiselectable="false"] {
      @include list.list-vertical-selectable(listbox);
    }
    &[aria-multiselectable="true"] {
      @include list.list-multi-selectable(multi-listbox);
    }
  }
}
