ul[role="listbox"] {
  padding-left: 0;
  margin-block: 0;
  list-style: none;
  position: relative;
  isolation: isolate;

  &::after {
    content: "";
    pointer-events: none;
    display: var(--active-display, 'none');
    position: absolute;
    top: 0;
    left: 0;
    width: var(--active-width);
    height: var(--active-height);
    transform: translate(var(--active-left, 0), var(--active-top, 0));
    transition-duration: 0.1s;
    transition-property: transform, height;
    background-color: var(--surface-variant);
    opacity: 0.12;
    border-radius: 4px;
  }

}


li[role="option"] {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--on-surface-variant);
  padding: 8px 16px;
  cursor: pointer;

  &[aria-selected="true"] {
    color: var(--on-primary-container);
    background-color: var(--primary-container);
    svg {
      background-color: var(--primary-container);
      border: solid 1px var(--primary);
    }
    path {
      stroke-dashoffset: 0;
    }
  }
  
}