#grid-page {
  margin-bottom: 200px;
  article, h1, h2 {
    margin-bottom: var(--size-2);
  }
  /* Ideally you would split this into separate media query, but I think it looks fine */
  nav > a:nth-of-type(4n + 1),
  ul > li:nth-of-type(4n + 1) > button {
    --card-position: 25%;
  }
  nav > a:nth-of-type(4n + 2),
  ul > li:nth-of-type(4n + 2) > button {
    --card-position: 50%;
  }
  nav > a:nth-of-type(4n + 3),
  ul > li:nth-of-type(4n + 3) > button {
    --card-position: 75%;
  }
  nav > a:nth-of-type(4n + 4),
  ul > li:nth-of-type(4n + 4) > button {
    --card-position: 100%;
  }
  nav > a,
  ul > li > button {
    text-decoration: none;
    color: currentColor;
    background-color: var(--surface);
    border-radius: var(--size-1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--size-1) var(--size-2);
    border: none;
  }
}

@keyframes slide-fade-in {
  from {
    opacity: 0;
    transform: translateY(10vh);
  }
}