$size: 24px;
.check-group {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 4px;
  padding: var(--size-1) var(--size-2);
  &.outlined {
    border: solid 1px var(--outline);
  }
  &.fill {
    background-color: var(--surface);
  }
  &:focus-within, &:active {
    border-color: var(--primary);
  }
  &:has(input:invalid) {
    border-color: var(--error);
  }
}
.check-list {
  list-style: none;
  margin-block: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 24px;
}
.check-item, .checkbox {
  position: relative;
  input {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    height: 1.2rem;
    width: 1.2rem;
    margin: 0;
    &:checked, &:indeterminate {
      & + label svg {
        border-color: var(--color, var(--primary));
        background-color: var(--color, var(--primary));
        color: var(--on-color, var(--on-primary));
        path {
          stroke-dashoffset: 0;
          transition: d 0.1s var(--ease-out),
            stroke-dashoffset 0.2s var(--ease-out),
            transform 0.3s var(--ease-back-in-out);
        }
      }
    }
    &:checked + label {
      path {
        d: path('M 2 13 L 8 19 L 23 5');
        stroke: var(--on-color, var(--on-primary));
      }
      &:hover {
        path {
          transform: scale(0.8);
        }
      }
    }
    &:indeterminate + label path {
      d: path('M 4 13 L 13 13 L 20 13');
      stroke: var(--on-color, var(--on-primary));
    }
    &:focus + label svg {
      outline: solid 1px var(--divider);
    }
  }
  label {
    display: flex;
    align-items: center;
    gap: 8px;
    height: $size;
    cursor: pointer;
    svg {
      pointer-events: none;
      height: 1.2rem;
      width: 1.2rem;
      border-radius: 4px;
      border: solid 1px var(--outline);
      transition: background-color 0.2s, border-color 0.2s;
      
      path {
        transform-origin: center;
        d: path('M 2 13 L 8 19 L 23 5');
        stroke-width: 2px;
        stroke-dasharray: 30;
        stroke-dashoffset: 30;
        transition: d 0.1s 0.2s var(--ease-out),
          stroke-dashoffset 0.2s var(--ease-out),
          transform 0.3s var(--ease-back-in-out);
      }
    }
    &:hover {
      svg {
        background-color: var(--surface);
        border-color: var(--text);
      }
    }
    &:active {
      svg {
        border-color: var(--color, var(--primary));
      }
    }
  }
}
