.he-radio-group {
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  border: none;
  padding: var(--size-1) 0;
  gap: var(--size-2);
  &.outline {
    border: solid 1px var(--outline);
    padding: var(--size-1) var(--size-2);
  }
  &.fill {
    background-color: var(--surface);
  }
  &.vertical {
    flex-direction: column;
    align-items: flex-start;
    gap: 0; /* we need padding for a11y, but gap make space too large */
    .he-radio label {
      padding: var(--size-1) 0;
    }
  }
  &:focus-within, &:active {
    border-color: var(--color, var(--primary));
  }
}

.he-radio {
  padding: var(--size-1) 0;
  & input {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    height: var(--size-2);
    width: var(--size-2);
    margin: 0;
    &:focus-visible + label svg {
      outline: solid 2px var(--color, var(--divider));
      outline-offset: 2px;
    }
    &:checked + label {
      & svg {
        border-color: var(--color, var(--primary));
        background-color: var(--color, var(--primary));
      }
      & circle {
        transform: scale(1);
      }
      &:hover circle {
        transform: scale(1.2);
      }
    }
    &:active + label {
      & circle {
        transform: scale(0.6);
      }
    }
  }

  & label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    &:hover svg {
      background-color: var(--surface);
      border-color: var(--text);
    }
  }
  & svg {
    pointer-events: none;
    height: var(--size-2);
    width: var(--size-2);
    border-radius: 50%;
    border: solid 1px var(--outline);
    background-color: transparent;
    transition: background-color 0.2s, border-color 0.2s;
    & circle {
      fill: var(--on-color, var(--on-primary));
      transform-origin: center;
      transform: scale(0);
      transition: transform 0.3s var(--ease-back-in-out);
    }
  }

  &.vertical {
    & label {
      padding: var(--size-1) var(--size-2);
      border-radius: var(--size-0);
      flex-direction: column-reverse;
      &:hover {
        background-color: color-mix(in oklch, var(--color, var(--text)) var(--alpha-hover), transparent);
      }
      & svg {
        width: 8px;
        height: 8px;
      }
    }
    & input:checked + label {
      background-color: color-mix(in oklch, var(--color, var(--text)) var(--alpha-drag), transparent);
      &:hover {
        background-color: color-mix(in oklch, var(--color, var(--text)) var(--alpha-hover), transparent);
      }
    }
  }
}