.select {
  flex: 1;
  display: flex;
  position: relative;
  cursor: pointer;


  button {
    font-size: 1rem;
    flex: 1;
    cursor: pointer;
    background-color: transparent;
    
    border: none;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    gap: var(--size-2);
    min-height: 1rem;

    // Prevent blue flash on android
    &[aria-expanded="true"] {
      -webkit-tap-highlight-color: transparent;
    }
    &:focus-visible {
      outline: none;
      span.value {
        color: currentColor;
      }
    }
    span {
      text-align: left;
      display: inline-block;
      flex: 1;
    }
    span.placeholder {
      opacity: 0.5;
    }
    svg {
      height: 4px;
      transition: transform 0.1s var(--ease-in-out);
      polygon {
        fill: currentColor;
      }
      
      &.opened {
        transform: rotate(180deg);
      }
    }
  }

  .popover {
    width: 100%;
  }

  .listbox {
    display: flex;
    flex-direction: column;
  }
  
  .option {
    position: relative;
    input {
      position: absolute;
      margin: 0;
      // scroll should show the whole input
      width: 100%;
      height: 100%;
      opacity: 0;
      pointer-events: none;
      border: none;
    }
    label {
      cursor: pointer;
      display: flex;
      padding: var(--size-1) var(--size-2);
    }
    label:hover {
      background-color: color-mix(in oklch, var(--text) var(--alpha-hover), var(--overlay));
    }
    input:focus + label {
      background-color: color-mix(in oklch, var(--text) var(--alpha-focus), var(--overlay));
    }
    input:checked + label {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        left: var(--size-0);
        top: var(--size-1);
        bottom: var(--size-1);
        width: var(--size-0);
        border-radius: var(--size-0);
        color: var(--on-color, var(--on-primary));
        background-color: var(--color, var(--primary));
        animation: fade 0.2s ease-out;
      }
    }
  }
  
  
  .popover {
    backdrop-filter: var(--background-blur);
    max-height: 275px;
    overflow: auto;
  }
}

@media (max-width: 599px) {
  .select {

    .popover {
      max-width: 80vw;
      max-height: 400px;
    }
    .option {
      font-size: 1rem;
      label {
        padding: var(--size-2);
      }
    }
  }
}