#checkbox-page {
  h1, h2 {
    margin-bottom: var(--size-2);
  }
  article {
    margin-bottom: var(--size-2);
  }
  hr {
    margin: 0;
    height: 1px;
    border: none;
    background-color: var(--divider);
  }
}