@mixin list-selectable($anchorPrefix) {
  @supports (anchor-name: --myanchor) {
    --anchor-selected: --#{$anchorPrefix}-selected;
    &::before {
      content: '';
      position-anchor: var(--anchor-selected, --selected);
      border-radius: var(--size-0);
      background-color: var(--color, var(--primary));
      transition-property: top, left, width, height;
      position: absolute;
      transition-duration: 0.25s;
      transition-timing-function: var(--ease-in-out);
    }
  }
}

@mixin list-horizontal-selectable($anchorPrefix: he) {
  @include list-selectable($anchorPrefix);
  @supports (anchor-name: --myanchor) {
    &::before {
      // Use inset-area: left; once transformable
      bottom: calc(anchor(bottom) + 4px); 
      left: calc(anchor(left) + (anchor(right) - anchor(left)) / 4);
      width: calc(anchor-size(width) / 2);
      height: 2px;
    }
  }
}
@mixin list-vertical-selectable($anchorPrefix: he) {
  @include list-selectable($anchorPrefix);
  @supports (anchor-name: --myanchor) {
    &::before {
      // Use inset-area: left; once transformable
      top: calc(anchor(top) + (anchor(bottom) - anchor(top)) / 4); 
      left: calc(anchor(left) + 4px);
      width: var(--size-0);
      height: calc(anchor-size(height) / 2);
    }
  }
}

@mixin item-selectable {
  &:focus-visible {
    outline: solid 1px var(--color, var(--divider));
  }
  @supports not (anchor-name: --myanchor) {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      border-radius: var(--size-1);
      background-color: var(--color, var(--primary));
      transform: scale(0);
      opacity: 0;
      transition: transform 0.2s var(--ease-out), opacity 0.2s var(--ease-out);
    }
  }
}
@mixin item-horizontal-selectable {
  &::before {
    width: var(--size-0);
    inset-block: 25%;
    inset-inline-start: var(--size-0);
  }
}
@mixin item-vertical-selectable {
  &::before {
    height: calc(var(--size-0) / 2);
    inset-inline: 25%;
    inset-block-end: calc(var(--size-0) / 2);
  }
}
@mixin item-selected {
  @supports (anchor-name: --myanchor) {
    anchor-name: var(--anchor-selected, --selected);
  }
  @supports not (anchor-name: --myanchor) {
    &::before {
      transform: scale(1);
      opacity: 1;
    }
  }
}


// MULTI


@mixin list-multi-selectable($anchorPrefix: he) {

}


@mixin item-multi-selectable {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    border-radius: var(--size-1);
    background-color: var(--color, var(--primary));
    transform: scale(0);
    opacity: 0;
    transition: transform 0.2s var(--ease-out), opacity 0.2s var(--ease-out);
  }
  &:focus-visible {
    outline: solid 1px var(--color, var(--divider));
  }
}

@mixin item-multi-selected {
  &::before {
    transform: scale(1);
    opacity: 1;
  }
}