.tab-group {
  display: flex;
  flex-direction: column;
  
}
.tab-list {
  display: flex;
  gap: var(--size-1);
  border-bottom: 1px solid var(--divider);
  padding: var(--size-1) 0;
  box-sizing: border-box;
  position: relative;
  isolation: isolate;
  &:focus-within {
    border-color: var(--color, var(--primary));
  }
}

.tab {
  cursor: pointer;
  background-color: transparent;
  border-radius: 4px;
  padding: var(--size-1) var(--size-2);
  box-sizing: border-box;
  position: relative;
  border: 1px solid transparent;
  &:focus-visible {
    outline: solid 1px var(--outline);
  }
  &:hover {
    background-color: var(--surface-lower);
  }
  &:active {
    background-color: var(--surface);
  }
  &[aria-selected="true"] {
    background-color: var(--surface-lower);
    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      inset: 0;
      border-radius: 4px;
      background-color: var(--surface-higher);
      view-transition-name: var(--tab-transition-name);
    }
  }
}
.tab-panel-container {
  overflow-x: hidden;
  display: flex;
}
.tab-panel {
  width: 100%;
  flex-shrink: 0;
  &:not([hidden]) {
    view-transition-name: var(--tab-panel-transition-name);
  }
}
