#form-page {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
  width: 100%;
  max-width: fit-content;
  margin: var(--size-2) auto;
  padding: var(--size-2);
  background-color: var(--surface);
  border-radius: var(--size-0);
  box-sizing: border-box;
  .date-inputs {
    display: flex;
    gap: var(--size-1);
    padding: 0;
    border: none;
  }
  footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--size-2);
  }
}
@media (max-width: 599px) {
  #form-page {
    padding: var(--size-1);
    max-width: unset;
    .date-inputs {
      flex-direction: column;
    }
  }
}