.nav-list {
  ul {
    margin-block: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
  }
  li {
    display: contents;
  }
  a {
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: var(--color, var(--text));
    padding: var(--size-1) var(--size-2);
    &:hover {
      background-color: var(--surface);
    }
    &:active {
      background-color: var(--surface-higher);
    }
    &[aria-current="page"] {
      --color: var(--primary);
    }
  }
}

@media (max-width: 899px) {
  .nav-list {
    a {
      padding: var(--size-2);
    }
  }
}