#dialog-page {
  #dialog-title {
    margin-bottom: var(--size-2);
  }
  .buttons {
    display: flex;
    gap: var(--size-2);
  }
  
  .container {
    width: 250px;
    max-width: 80vw;
    padding: var(--size-2);
    article {
      display: flex;
      flex-direction: column;
      gap: var(--size-2);
    }
  }
  
  .container.sidenav.opened,
  .container.sidenav.closing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    footer {
      margin-top: auto;
    }
  }
}
