#tab-page {
  max-width: 90%;
  width: 800px;
  margin: var(--size-3) auto;
  display: flex;
  flex-direction: column;
  gap: var(--size-3);

  article {
    border-radius: var(--size-2);
    padding: var(--size-2);
    background-color: var(--surface);
  }
}
.tab-panel {
  padding: var(--size-1) var(--size-2);
}