@use '../../list' as list;

[role="option"] {
  cursor: pointer;
  display: flex;
  padding: var(--size-1) var(--size-2);
  border-radius: var(--border-radius);
  &:hover {
    background-color: color-mix(in oklch, var(--text) var(--alpha-hover), var(--overlay));
  }

  @include list.item-horizontal-selectable;

  &[aria-checked="true"], &[aria-checked="false"] {
    @include list.item-multi-selectable;
  }
  &[aria-checked="true"] {
    @include list.item-multi-selected;
  }
  &[aria-selected="true"], &[aria-selected="false"] {
    @include list.item-selectable;
  }
  &[aria-selected="true"] {
    @include list.item-selected;
  }
}