.grid-list {
  list-style: none;
  margin-block: 0;
  list-style: none;
  margin-block: 0;
  padding: var(--size-2);
  display: grid;
  gap: var(--size-2);
  grid-template-columns: repeat(auto-fill, minmax(var(--grid-item-width, 250px), 1fr));

  & > li:not(.grid-item) {
    display: contents;
  }
}

.grid-item {
  text-decoration: none;
  color: currentColor;
  background-color: var(--surface);
  border-radius: var(--size-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--size-1) var(--size-2);
  border: none;
}