@mixin fieldset() {
  --fieldset-padding-inline: 0px;
  border-radius: var(--size-0);
  padding-block: calc(var(--fieldset-padding-inline) / 2);
  padding-inline: var(--fieldset-padding-inline);
  border: none;
  height: 48px;
  display: grid;
  align-items: center;
  &.outline {
    --fieldset-padding-inline: 16px;
    border: 1px solid var(--outline);
    box-sizing: border-box;
    height: unset;
    &:focus-within, &:active {
      border-color: var(--color, var(--primary));
    }
  }
  &.fill {
    --fieldset-padding-inline: 16px;
    background-color: var(--surface);
  }
  &.gradient {
    .track {
      background-color: unset;
      background-image: var(--background-image);
    }
    .thumb.start::after {
      --color: var(--gradient-start);
      --on-color: var(--on-gradient);
    }
    .thumb.end::after {
      --color: var(--gradient-end);
      --on-color: var(--on-gradient);
    }
  }
}

@mixin input() {
  opacity: 0;
  height: 48px;
  &:hover + .thumb {
    &::before {
      opacity: 1;
    }
    &::after {
      transform: scale(0.6);
    }
  }
  &:active + .thumb, &:focus + .thumb {
    border: solid 1px var(--on-color, var(--on-primary));
    &::before {
      opacity: 1;
    }
    &::after {
      transform: scale(0.4);
      background-color: var(--on-color, var(--on-primary));
    }
  }
}

@mixin track() {
  pointer-events: none;
  position: relative;
  height: 4px;
  width: 100%;
  overflow: hidden;
  border-radius: 4px;
  background-color: var(--color, var(--primary));
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.1s;
    background-color: var(--outline);
  }
}


@mixin thumb() {
  pointer-events: none;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: var(--outline);
  transition: transform 0.1s;

  &::before {
    content: attr(data-value);
    opacity: 0;
    padding: 4px 8px;
    position: absolute;
    bottom: 0;
    transform: translate(-25%, -100%);
    background-color: var(--overlay);
    box-shadow: var(--overlay-shadow);
    backdrop-filter:  var(--background-blur);
    color: var(--text);
    border-radius: 4px;
    text-align: center;
    display: inline-block;
    transition: opacity 0.2s var(--ease-out);
  }
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background-color: var(--color, var(--primary));
    transform: scale(0.7);
    transition: transform 0.3s var(--ease-out);
  }
}
