@use '../../hue/utils' as hue;

.he-range-container {
  position: relative;
  display: grid;
  grid-template-areas: "stack";
  cursor: pointer;
  // Prevent scroll on touch
  touch-action: none;

  --he-thumb-start: 0;
  --he-thumb-end: 0;
  --he-track-background: var(--color, var(--primary));
  --he-thumb-background: var(--color, var(--primary));
  --he-thumb-foreground: var(--on-color, var(--on-primary));

  &.disable {
    --he-track-background: var(--disabled);
  }

  // HORIZONTAL
  &[aria-orientation="horizontal"] {
    height: 48px;
    align-items: center;

    .he-range-track {
      width: 100%;
      height: 8px;
      &::after {
        inset-inline-start: calc(var(--he-thumb-start) * (100% - 20px));
        inset-inline-end: calc((1 - var(--he-thumb-end)) * (100% - 20px));
        inset-block: 0;
      }
    }
    .he-range-thumb-start,
    .he-range-thumb-end {
      &::before {
        inset-block-start: 0;
        transform: translate(0, 0) scale(0.8);
      }
      &:hover, &:focus-visible, &:active {
        &::before {
          transform: translate(0, -110%) scale(1);
        }
      }
    }
    .he-range-thumb-start {
      inset-inline-start: calc(var(--he-thumb-start) * (100% - 20px));
      transform: translateX(-14px);
    }
    .he-range-thumb-end {
      inset-inline-end: calc((1 - var(--he-thumb-end)) * (100% - 20px));
      transform: translateX(14px);
    }
    .he-range-tick-list {
      align-self: end;
      flex-direction: row;
      padding-inline: 7px;
      padding-block: 0;
    }
  }

  // VERTICAL
  &[aria-orientation="vertical"] {
    width: 48px;
    justify-items: center;

    .he-range-track {
      height: 100%;
      width: 8px;
      &::after {
        inset-block-start: calc(var(--he-thumb-start) * (100% - 20px));
        inset-block-end: calc((1 - var(--he-thumb-end)) * (100% - 20px));
        inset-inline: 0;
      }
    }
    .he-range-thumb-start,
    .he-range-thumb-end {
      &::before {
        inset-inline-end: 0;
        transform: translate(0, 0) scale(0.8);
      }
      &:hover, &:focus-visible, &:active {
        &::before {
          transform: translate(110%, 0) scale(1);
        }
      }
    }
    .he-range-thumb-start {
      inset-block-start: calc(var(--he-thumb-start) * (100% - 20px));
      transform: translateY(-14px);
    }
    .he-range-thumb-end {
      inset-block-end: calc((1 - var(--he-thumb-end)) * (100% - 20px));
      transform: translateY(14px);
    }
    .he-range-tick-list {
      justify-self: end;
      flex-direction: column;
      height: inherit;
      padding-block: 7px;
      padding-inline: 0;
    }
  }
}

.he-range-track {
  grid-area: stack;
  position: relative;
  border-radius: 8px;
  background-color: color-mix(in oklch, var(--he-track-background) 30%, var(--surface-0));
  &::after {
    content: "";
    position: absolute;
    border-radius: 8px;
    background-color: var(--he-track-background);
  }
}

.he-range-thumb-start,
.he-range-thumb-end {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  position: absolute;
  padding: 0;
  display: grid;
  grid-template-areas: "stack";
  place-items: center;
  &:disabled {
    --he-thumb-background: var(--disabled);
  }
  &::before {
    content: attr(aria-valuenow);
    font-size: 1rem;
    position: absolute;
    background-color: var(--overlay);
    backdrop-filter: var(--background-blur);
    box-shadow: var(--overlay-shadow);
    border-radius: 4px;
    padding: 4px 8px;
    opacity: 0;
    transition: opacity 0.2s var(--ease-out), transform 0.2s var(--ease-out);
  }

  &:hover, &:focus-visible, &:active {
    &::before {
      opacity: 1;
    }
  }
  &:hover {
    .he-range-thumb-indicator::after {
      transform: scale(0.4);
      @include hue.hover(var(--he-thumb-background), var(--he-thumb-foreground));
    }
    .he-range-thumb-shadow::before {
      transform: scale(1);
      opacity: 0.1;
    }
  }
  &:focus-visible {
    outline: none;
    .he-range-thumb-indicator::after {
      transform: scale(0.4);
      background-color: var(--he-thumb-foreground);
    }
    .he-range-thumb-shadow::before {
      transform: scale(1);
      opacity: 0.1;
    }
  }
  &:active {
    .he-range-thumb-indicator::after {
      transform: scale(0.2);
      background-color: var(--he-thumb-foreground);
    }
    .he-range-thumb-shadow::before,
    .he-range-thumb-shadow::after {
      transform: scale(1);
      opacity: 0.1;
    }
  }

}

.he-range-thumb-indicator  {
  width: 20px;
  height: 20px;
  background-color: var(--outline);
  border-radius: 50%;
  position: relative;
  grid-area: stack;
  display: grid;
  place-items: center;
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--he-thumb-background);
    border-radius: 50%;
    transform: scale(0.7);
    transition: transform 0.2s var(--ease-out);
  }
}

.he-range-thumb-shadow {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  grid-area: stack;
  &::before, &::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background-color: var(--he-thumb-background);
    opacity: 0;
    transform: scale(0);
    transition: all 0.3s var(--ease-out);
  }
}
.he-range-tick-list {
  grid-area: stack;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
.he-range-tick {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--text);
}