@use "./base";
.range {
  @include base.fieldset();
  display: flex;
  align-items: center;
  position: relative;
  align-items: center;
  --start: 0;
  --end: 0;
  input {
    @include base.input();
    width: 50%;
  }
  .track {
    @include base.track();
    position: absolute;
    width: calc(100% - (2 * var(--fieldset-padding-inline))); // Remove padding
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: -100%;
      transition: transform 0.1s;
      background-color: var(--outline);
      transform: translateX(var(--start));
    }
    &::after {
      right: -100%;
      transform: translateX(var(--end));
    }
  }
  .thumb {
    @include base.thumb();
    position: absolute;
    &.start {
      left: var(--fieldset-padding-inline);
      transform: translateX(var(--start));
    }
    &.end {
      right: var(--fieldset-padding-inline);
      transform: translateX(var(--end));
    }
  }
  

}
.sliders {
  display: flex;
  grid-area: 1/1;
 
}