@use "./base";

.slider {
  height: 48px;
  padding: 0 8px;
  display: grid;
  align-items: center;
  border-radius: var(--size-0);
  position: relative;
  --position: 0px;
  &:focus-within {
    outline: solid 1px var(--primary);
  }
  input, .track {
    grid-area: 1/1;
  }
  
  input {
    @include base.input();
  }
  
  .track {
    @include base.track();
    &::after {
      left: calc(var(--initial-position, 0) * 100%);
      transform: translateX(var(--position));
    }
  }
  
  .thumb {
    @include base.thumb();
    grid-area: 1 / 1;
    left: calc(var(--initial-position, 0) * 100%);
    transform: translateX(var(--position, 0));
    position: absolute;
  }
}

.slider.end {
  .thumb::before {
    top: 0;
    bottom: unset;
    transition: translate(0 100%);
  }
}