@use '../../hue/utils' as hue;

.he-field {
  --he-field-radius: var(--size-0);
  --he-field-border-color: var(--outline);
  --he-field-background: transparent;

  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "prefix input suffix";
  
  box-sizing: border-box;
  padding: var(--size-1) var(--size-2);
  border-radius: var(--he-field-radius);
  background-color: var(--he-field-background);
  border: none;
  

  &:hover {
    @include hue.hover(var(--he-field-background), var(--text));
  }
  &:has(:focus-visible), &:has(:active) {
    --he-field-border-color: var(--color, var(--primary));
    background-color: color-mix(in oklch, var(--text) var(--alpha-focus), var(--he-field-background));
  }
  &:focus-visible {
    outline: none;
  }

  &.underline {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: solid 2px var(--he-field-border-color);
  }
  &.flat {
    --he-field-radius: 0;
  }
  &.round {
    --he-field-radius: var(--size-3);
  }
  &.outline {
    border: solid 1px var(--he-field-border-color);
  }
  &.fill {
    --he-field-background: color-mix(in oklch, var(--text) 10%, transparent);
  }
  &.round.underline {
    --he-field-radius: var(--size-2);
  }
}

