#icon-page {
  .search {
    display: flex;
    align-items: center;
    gap: var(--size-2);
    flex-wrap: wrap;
    position: sticky;
    top: calc(-1 * var(--size-2));
    padding: var(--size-1) var(--size-2);
    background-color: var(--surface-low);
    border-radius: var(--size-1);
  }
  .icon-list {
    --grid-item-width: 125px;
    --icon-size: 48px;
    color: var(--text-variant);
    @media (max-width: 599px) {
      --grid-item-width: 80px;
    }
    .btn {
      overflow: hidden;
    }
    .btn:hover {
      color: var(--text);
    }
    p {
      font-size: small;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  .paginator {
    display: grid;
    place-items: center;
    padding: var(--size-2);
    color: var(--text-variant);
  }
}