@mixin primary {
  --primary: oklch(var(--color-lightness) var(--color-chroma) var(--primary-hue));
  --on-primary: oklch(var(--on-color-lightness) var(--on-color-chroma) var(--primary-hue));
}
@mixin secondary {
  --secondary: oklch(var(--color-lightness) var(--color-chroma) var(--secondary-hue));
  --on-secondary: oklch(var(--on-color-lightness) var(--on-color-chroma) var(--secondary-hue));
}
@mixin warn {
  --warn: oklch(var(--color-lightness) var(--color-chroma) var(--warn-hue));
  --on-warn: oklch(var(--on-color-lightness) var(--on-color-chroma) var(--warn-hue));
}

@mixin surface($lightness) {
  background-color: oklch($lightness var(--chroma) var(--hue));
}
@mixin hover($background, $on-background) {
  background-color: color-mix(
    in oklch shorter hue,
    $on-background var(--alpha-hover),
    $background
  );
}
@mixin focus($background, $on-background) {
  background-color: color-mix(
    in oklch shorter hue,
    $on-background var(--alpha-focus),
    $background
  );
}
