#input-page {
  article, h1, h2 {
    margin-bottom: var(--size-2);
  }
  p {
    margin-bottom: var(--size-1);
  }
  code {
    padding: var(--size-0) var(--size-1);
    border-radius: var(--size-0);
    background-color: var(--surface-lower);
    border: solid 1px var(--outline);
    font-size: small;
  }
  fieldset {
    display: flex;
    gap: var(--size-1);
    padding: 0;
    border: none;
    margin-bottom: var(--size-2);
    box-sizing: border-box;
  }
  section {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .he-form-field {
    max-width: 250px;
  }
  output {
    opacity: 0.6;
    padding: var(--size-1) var(--size-2);
  }
  input {
    flex: 1;
  }
}