.toggle-group {
  position: relative;
  padding: var(--size-1) var(--size-2);
  box-sizing: border-box;
  display: flex;
  border-radius: 4px;
  overflow: hidden;
  border: solid 1px var(--outline);
  &.fill {
    background-color: var(--surface);
  }
  &.vertical {
    flex-direction: column;
  }
  &:focus-within, &:active {
    border-color: var(--primary);
  }
  &:has(input:invalid) {
    border-color: var(--error);
  }

  .toggle {
    flex: 1;
    position: relative;
  }

  input {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    &:focus:not(:checked) + label {
      // Use divider because surface-low is same as outline
      outline: solid 1px var(--divider);
      background-color: var(--surface-low);
    }
    &:checked + label {
      background-color: var(--color, var(--surface-higher));
      color: var(--on-color, var(--text));
    }
  }
  label {
    cursor: pointer;
    display: block;
    padding: 8px 16px;
    text-align: center;
    position: relative;
    &:hover {
      background-color: var(--surface-low);
    }
  }
}
