@layer hueeye {
  .he-carousel {
    display: block;
    width: 100%;
    position: relative;
  }
  
  .he-carousel-previous, .he-carousel-next {
    top: 0;
    bottom: 0;
    position: absolute;
    height: 100%;
    background-color: var(--surface-higher);
    display: block;
  }
  .he-carousel-previous {
    left: 0;
  }
  .he-carousel-next {
    right: 0;
  }
  
  .he-carousel-list {
    margin-block: 0;
    padding: var(--size-2);
    list-style: none;
    display: flex;
    gap: var(--carousel-gap, var(--size-2));
    overflow-x: auto;
  
  }
  
  .he-carousel-item {
  
  }
}