dialog {
  border: none;
  padding: 0;
  overflow: hidden;
  background-color: var(--overlay);
  box-shadow: var(--overlay-shadow);

  &.modal::backdrop,
  &.bottom-sheet::backdrop,
  &.sidenav::backdrop {
    opacity: 0.32;
    background-color: var(--text);
    animation: fade 0.2s linear;
  }

  &:not(.popover)::backdrop {
    opacity: 0.24;
    background-color: var(--on-background);
  }
  &.modal {
    border-radius: 8px;
    animation: scalein 0.2s var(--ease-out);

    &.closing {
      opacity: 0;
      animation: scaleout 0.2s var(--ease-in);
    }
  }
  &.bottom-sheet {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-bottom: 0;
    animation: slideUp 0.3s var(--ease-out);
    &.closing {
      transform: translateY(100%);
      animation: slideDown 0.2s var(--ease-in);
    }
  }
  &.sidenav {
    margin-left: 0;
    max-height: 100%; // Firefox set max-height: calc(100% - 6px -2em)
    height: auto;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    animation: slideLeft 0.2s var(--ease-out);
    &.closing {
      transform: translateX(-100%);
      animation: slideRight 0.2s var(--ease-in);
    }
  }
  &.popover {
    z-index: 1;
    border-radius: 4px;
    &.closing {
      opacity: 0;
    }
    &::backdrop {
      opacity: 0;
    }
  }
  .dialog-content {
    padding: var(--size-1) var(--size-2);
  }
  .dialog-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--size-1);
    padding: var(--size-1) var(--size-2);
    background-color: var(--background);
  }
}

@media (prefers-color-scheme: dark) {
  dialog.modal {
    border: solid 1px var(--outline);
  }
  dialog.bottom-sheet {
    border: solid 1px var(--outline);
    border-bottom: none;
  }
  dialog.sidenav {
    border-right: solid 1px var(--outline);
  }
}


@media (min-width: 600px) {
  dialog.popover {
    animation: slideup 0.1s var(--ease-out);
    &.closing {
      animation: fadeout 0.1s var(--ease-in);
    }
    &::backdrop {
      opacity: 0;
    }
  }
}

@media (max-width: 599px) {
  dialog.popover {
    position: fixed;
    animation: scalein 0.1s var(--ease-out);
    &.closing {
      animation: scaleout 0.1s var(--ease-in);
    }
    &::backdrop {
      background-color: oklch(20% var(--chroma) var(--hue));
      opacity: 0.3;
    }
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes slideDown {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(100%);
  }
}