.radio-group {
  display: flex;
  flex-direction: row;
  gap: var(--size-2);
  border-radius: 4px;
  border: none;
  padding: var(--size-2) 0;
  &.outline {
    border: solid 1px var(--outline);
    padding: var(--size-1) var(--size-2);
  }
  &.fill {
    background-color: var(--surface);
    padding: var(--size-1) var(--size-2);
  }
  &.column {
    flex-direction: column;
    align-items: flex-start;
  }
  &:focus-within, &:active {
    border-color: var(--color, var(--primary));
  }
}

.radio-item {
  input {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    height: var(--size-2);
    width: var(--size-2);
    margin: 0;
    &:focus + label svg {
      outline: solid 1px var(--divider);
    }
    &:checked + label {
      svg {
        border-color: var(--color, var(--primary));
        background-color: var(--color, var(--primary));
      }
      circle {
        transform: scale(1);
      }
      &:hover {
        circle {
          transform: scale(1.2);
        }
      }
    }
    &:active + label {
      circle {
        transform: scale(0.6);
      }
    }
  }

  label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    &:hover svg {
      background-color: var(--surface);
      border-color: var(--text);
    }
  }
  svg {
    pointer-events: none;
    height: var(--size-2);
    width: var(--size-2);
    border-radius: 50%;
    border: solid 1px var(--outline);
    background-color: transparent;
    transition: background-color 0.2s, border-color 0.2s;
    circle {
      fill: var(--on-color, var(--on-primary));
      transform-origin: center;
      transform: scale(0);
      transition: transform 0.3s var(--ease-back-in-out);
    }
  }
}