html {
  --hue: 0;
}
body {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
  padding: var(--size-2);
  box-sizing: border-box;
  min-height: 100dvh;
}
header, footer {
  background-color: var(--surface-low);
}
main {
  background-color: var(--surface);
  flex: 1;
  padding: var(--size-2);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
}
button {
  align-self: flex-start;
}