html, ::backdrop {
  --hue: 250;
  font-size: 16px;
}
body {
  // thumb track
  scrollbar-color: var(--outline) transparent;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  background-color: var(--surface-0);
}

h1 {
  font-size: 1.3rem;
}
h2 {
  font-size: 1.1rem;
}

@media (max-width: 599px) {
  :root {
    --size-0: 5px;
    --size-1: 10px;
    --size-2: 20px;
    --size-3: 25px;
    --size-4: 35px;
  }
  html {
    font-size: 18px;
  }
}

@view-transition {
  navigation: auto;
}

