.accordion {
  list-style: none;
  margin-block: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  li {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    &:first-child {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
    &:last-child {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
  button {
    min-height: 48px;
    cursor: pointer;
    border: none;
    background-color: var(--surface);
    color: var(--text);
    &:focus {
      background-color: color-mix(in oklch, var(--text) var(--alpha-focus),var(--surface-high));
    }
    &:hover {
      background-color: color-mix(in oklch, var(--text) var(--alpha-hover),var(--surface-high));
    }
  }
  
  .details-panel {
    background-color: var(--surface);
    transform-origin: top;
    height: 0;
    display: none;
  }
  
  li.open {
    margin-block: 16px;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }  
  }
  
  li.open .details-panel {
    display: block;
    height: auto;
  }
}